<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <script src="javascript/registration-rest-calls.js"></script>
    <script src="javascript/sha256.js"></script>

</head>
<body>


<div ng-app="registerApp" ng-controller="registerCtrl">

    <h1>Register</h1>

    <div id="registration-form-div">
        <form>
            <div>
                Email: <input type="email" ng-model="user_email" required/>
            </div>

            <div>
                Username: <input type="text" ngTrim="true" ng-model="user_username" required/>
            </div>

            <div>
                Password: <input type="password" ng-model="user_password" required>
            </div>

            <div>
                Confirm Password: <input type="password" ng-model="user_password_confirmation" required>
            </div>

            <div>
                <button ng-click="postUserRegistrationData()">Register</button>
            </div>
        </form>
    </div>

    <div id="registration-success-div">
        <p>{{message_alert}}</p>
        <p>You can now <a href="signIn.html">sign in</a></p>
    </div>

</div>


</body>
</html>